# Ignore TetriZone.db
TetriZone.db

# Ignore database.py
database.py

# Ignore RSA.py
RSA.py

# Ignore AES.py
AES.py

# Ignore .gitignore
.gitignore

# Ignore exceptions.py
exceptions.py

# Ignore Python bytecode files
*.pyc

# Ignore .idea folder
.idea/